*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    margin:0;
}
header{
    background-color: #F2E9D8;
    width: auto;
    height:900px;
    display:flex;
    flex-direction: column;
    align-items: center;


}
.blind{
    width:1px;
    height: 1px;
    margin:0;
    clip-path: inset(50%);
    overflow: hidden;
    display: inline-block;
}
a{
    text-decoration: none;
}
.buttonShape{
    display: inline-block;
    width:140px;
    height: 50px;
    border-radius: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color:#FFFFFF;
    background-color: #D97652;
    border:none;
    cursor: pointer;
}
.set-flex-center-column{
    display: flex;
    flex-direction: column;
    text-align: center;
}
/*헤더요소*/
#Top_navigation-bar{
    width: 1280px;
    display:flex;
    align-items: center;

}

#Top_navigation-bar nav{
    margin-left:740px;
    margin-right:34px;
}

#Top_navigation-bar nav ul{
    list-style-type: none;
    margin:0;
    font-size: 16px;
    padding:41px 0;
    display:flex;
}

#Top_navigation-bar nav ul li{
    display:inline-block;
    padding:0 15px;
}

#main-detail{
    width: 1280px;
    display: flex;
    justify-content: space-between;
}
#main-detail section:nth-child(1){
    margin-top: 200px;
}
#main-detail section:nth-child(2){
    margin-top: 32px;
}
/*메인*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
.representative-photo-element{
    display: flex;
    margin-top: 80px;

}
.representative-photo-element div{
    display: inline-block;
    padding: 92px 0;
}
.img-list-wraper{
    text-align: center;
}
.img-list-wraper h2{
    margin-top: 100px;
    font-size: 48px;
    font-weight: 700;
    color: #D97652;
}
.image-list-wraper-element{
    width: 1350px;
    margin-top:88px;
}
.image-list{
    display: inline-block;
    padding:0;
    margin:0;
}
.image-list-wraper-element .image-list li{
    display:inline-block;
}
.image-list-wraper-element .image-list li:hover{
    transform: scale(1.1);
}
.image-list-wraper-element .image-list img{
    width:378px;
    height:378px;
    margin:0 36px 72px 36px;
    border-radius: 30px;
}

#map{
    width:1280px;
    height:520px;
}

/*푸터*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .email-subscription{
    width: 1280px;
    height: 200px;
    margin-top:81px;
    border-radius: 30px;
    background-color: #263140;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.email-subscription>div{
    width: 471px;
    height: 99px;
    margin-left:58px;
}

.email-subscription form{
    display: flex;
    align-items: center;
}
.email-subscription input{
    width: 530px;
    height: 60px;
    margin-left:163px;
    border-radius: 60px;
}
.email-subscription button{
    position: relative;
    width:135px;
    left:-145px;
}
footer>img{
    position: relative;
    top:-100px;
    z-index: -10;
}
footer .copyright-box{
    display:flex;
    width: 1280px;
    justify-content: space-between;
}
.copyright-social-icon-wrapper{
    display:flex;
    gap: 20px;
}
.copyright-social-icon-wrapper .social-icon{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #F29D52;
    display:inline-block;
}
.copyright-social-icon-wrapper .social-icon img{
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

/*모달창*/
.modal{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index: 100;
    justify-content: center;
    align-items: center;
}
.modal.on{
    display: flex;

}
.modal div{
    width:600px;
    padding-bottom: 40px;
    background: url("./media/무제-1 1.png");
    border-radius: 30px;
    text-align: center;
}
.modal img{
    margin-top:60px;
    top:60px;
}
.modal p:nth-child(2){
    margin-top:24px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 45px;

}
.modal span{
    margin-top:38px;
}

/*어사이드 버튼*/
aside{
    opacity:0;
    display:none
}
aside.on{

    z-index: 1;
    opacity:1;
    display:block;
}
aside button[data-6]{
    width: 50px;
    height: 50px;
    background: url("./media/keyboard_arrow_up.svg");
    border:none;
    cursor: pointer;
    position: fixed;
    bottom:180px;
    right:24px;
    overflow: hidden;
    text-indent: -10000em;
}
aside button[data-6]:hover{
    background: url("./media/keyboard_arrow_up_hover.svg");
}

/*미디어쿼리*/
@media screen and (max-width: 1280px) {
    header {
        display:inline-block;
    }

    main .representative-photo-element{
        flex-direction: column;
    }
    .image-list-wraper-element{
        width: 100%;
    }
    main .location-map-wrap{
        width: 100%;
    }

    main #map{
        width:100%;
        height:350px;
        object-fit: cover;
    }
    footer .email-subscription{
        width:100%;
        height: 100%;
        flex-direction: column;
    }
    footer .email-subscription div{
        width:100%;
        height:100%;
    }
    footer .email-subscription form{
        flex-direction: column;
    }
    footer .email-subscription input{
        width:262px;
        margin-left:0;
    }
    footer .email-subscription button{
        left:66px;
    }
    footer .copyright-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: normal;
        flex-wrap: wrap;
    }
    footer .copyright-social-icon-wrapper{
        display:inline-block;
        text-align: center;
    }
}
@media (max-width:662px) {
    header{
        height: auto;
    }
    header #Top_navigation-bar{
        width:100%;
        justify-content: space-between;
    }
    header #Top_navigation-bar nav{
        margin-left:0;
    }
    header #main-detail{
        display: flex;
        width:100%;
        flex-direction: column;
        align-items: center;
    }
    header #main-detail>section{
        text-align: center;
    }
    main .representative-photo-element img{
        width: 100%;
        object-fit: cover;
    }
    .image-list-wraper-element .image-list img{
        width:100%;
        margin:16px 0;
        object-fit: cover;
    }
}
#icon+label{
    width:32px;
    height: 32px;
    position: absolute;
    right:20px;
    top: 22px;
    cursor: pointer;
}

#icon+label>span{
    display: block;
    height: 2px;
    width: 100%;
    background: black;
    position: absolute;
}

#icon+label>span:nth-child(1){
    top:0;
}
#icon+label>span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}
#icon+label>span:nth-child(3){
    bottom:0;
}

.mobile-navigation{
    display:none;
    width:289px;
    height: 820px;
    position: absolute;
    top:0;
    right: 0;
    background-color: #263140;
}
.mobile-navigation ul{
    list-style-type: none;
    margin-top: 120px;
    padding-left: 50px;
}
.mobile-navigation li{
    margin-bottom: 30px;
}
.mobile-navigation li a{
    color:#FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}